.count-of-films {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

.films {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 30px;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    padding: 15px;
    cursor: pointer;

    @media (min-width: 768px) {
        width: 25%;
    }

    @media (min-width: 1200px) {
        width: 20%;
    }

    &__visual {
        position: relative;
        border-radius: $base_radius $base_radius 0 0;
        background: $card_bg;
        overflow: hidden;
        width: 100%;
        min-height: 100px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0);
            transition: all 0.5s;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 15px;
        border-radius: 0 0 $base_radius $base_radius;
        background: $card_bg;
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0);
            transition: all 0.5s;
        }
    }

    &__name {
        display: block;
        width: 85%;
    }

    &__like,
    &__liked {
        position: relative;
        display: block;
        width: 15%;

        &:before {
            position: absolute;
            top: -16px;
            left: calc(100% - 30px);
            content: "\f004";
            font-size: 30px;
            font-family: FontAwesome;
            color: $black;
            transition: all 0.5s;
        }

        &:hover {
            &:before {
                color: $active_color;
                text-shadow: $active_color 1px 1px;
            }
        }
    }

    &__liked {
        &:before {
            color: $red;
        }

        &:hover {
            &:before {
                color: $black;
                text-shadow: $black 1px 1px;
            }
        }
    }
}

.film:hover {
    .film__visual:before,
    .film__body:before {
        background: rgba(0, 0, 0, 0.5);
    }
}