.search {
    padding: 30px 100px 15px 100px;

    &__inner {
        margin-bottom: 20px;
        background: $main_color;
        border-radius: $base_radius * 2;

        display: flex;
        justify-content: space-between;
    }

    &__input {
        padding: 20px;
        border-radius: ($base_radius * 2) 0 0 ($base_radius * 2);
        background: $main_color;
        width: 70%;
        border: none;
    }

    &__btn {
        border-radius: 0 ($base_radius * 2) ($base_radius * 2) 0;
        padding: 20px;
        background: $main_color;
        width: 30%;
        cursor: pointer;
        border: none;
        position: relative;
        transition: all 0.5s;

        &:hover {
            color: $active_color;
            background: $card_bg;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: black;
        }
    }

    &__params {
        margin-left: 30px;
    }

    &__select {
        border-radius: $base_radius * 2;
        background: $main_color;
        margin-left: 10px;
        padding: 10px;
        padding-right: 50px;
        border: none;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            color: $active_color;
            background: $card_bg;
        }
    }
}

//==========================================================

.films {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 30px;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    padding: 15px;
    cursor: pointer;

    @media (min-width: 768px) {
        width: 25%;
    }

    @media (min-width: 1200px) {
        width: 20%;
    }

    &__visual {
        position: relative;
        border-radius: $base_radius $base_radius 0 0;
        background: $card_bg;
        overflow: hidden;
        width: 100%;
        min-height: 100px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0);
            transition: all 0.5s;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 15px;
        border-radius: 0 0 $base_radius $base_radius;
        background: $card_bg;
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0);
            transition: all 0.5s;
        }
    }

    &__img {
    }

    &__name {
        display: block;
        width: 85%;
    }

    &__like,
    &__liked {
        position: relative;
        display: block;
        width: 15%;

        &:before {
            position: absolute;
            top: -16px;
            left: calc(100% - 30px);
            content: "\f004";
            font-size: 30px;
            font-family: FontAwesome;
            color: $black;
            transition: all 0.5s;
        }

        &:hover {
            &:before {
                color: $active_color;
                text-shadow: $active_color 1px 1px;
            }
        }
    }

    &__liked {
        &:before {
            color: $red;
        }

        &:hover {
            &:before {
                color: $black;
                text-shadow: $black 1px 1px;
            }
        }
    }
}

.film:hover {
    .film__visual:before,
    .film__body:before {
        background: rgba(0, 0, 0, 0.5);
    }
}

.btn-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btn {
    color: $text_color;
    background: $main_color;
    border-radius: $base_radius * 2;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        color: $active_color;
        background: $card_bg;
    }
}

.count-of-films {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

//============ Modal Window ==================
.filmModal-wrap_show,
.filmModal-wrap_hide {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.filmModal-wrap_hide {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(0);
}

.filmModal {
    display: flex;
    border-radius: $base_radius;
    box-shadow: 1px 1px 3px 3px #efefef;
    overflow: hidden;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $main_color;
    transition: all 1s;

    &__visual {
        position: relative;
        width: 45%;
        padding-top: 63%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: cover;
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 55%;
        padding: 20px;
        font-size: 16px;
        color: $text_color;
        position: relative;
    }

    &__name {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__info {
        padding: 5px 0;
    }

    &__summary {
        overflow-y: auto;
        max-height: 350px;
        padding: 5px 0;
    }

    &__closeBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:before {
            content: "\f00d";
            font-family: FontAwesome;
            font-size: 30px;
            color: $black;
            transition: all 0.5s;
        }

        &:hover {
            &:before {
                color: $active_color;
            }
        }
    }
}

.filmModal_hide {
    display: none;
}

//==========pagination=====================

.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 15px 45px;

    &__info {
        padding: 5px;

        &_hide {
            display: none;
        }

        &:nth-child(3) {
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                color: $active_color;
            }
        }
    }

    &__btn {
        cursor: pointer;
        border: none;
        background: transparent;
        transition: all 0.5s;

        &:before {
            font-family: FontAwesome;
            content: "\f054";
        }

        &:first-child {
            &:before {
                content: "\f053";
            }
        }

        &:hover {
            color: $active_color;
        }
    }

    &__input {
        width: 50px;

        &_hide {
            display: none;
        }
    }
}
