.search {
    padding: 20px 10px 10px 10px;

    @media (min-width: 768px) {
        padding: 30px 100px 15px 100px;
    }

    &__inner {
        margin-bottom: 20px;
        background: $main_color;
        border-radius: $base_radius * 2;

        display: flex;
        justify-content: space-between;
    }

    &__input {
        padding: 10px;
        border-radius: ($base_radius * 2) 0 0 ($base_radius * 2);
        background: $main_color;
        width: 70%;
        border: none;

        @media (min-width: 576px) {
            padding: 20px;
        }
    }

    &__btn {
        @extend %btnCommon;
        border-radius: 0 ($base_radius * 2) ($base_radius * 2) 0;
        padding: 10px;
        background: $main_color;
        width: 30%;
        position: relative;

        @media (min-width: 576px) {
            padding: 20px;
        }

        &:hover {
            color: $active_color;
            background: $card_bg;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: black;
        }
    }

    &__params {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 576px) {
           flex-wrap: nowrap;
        }
    }

    &__select {
        border-radius: $base_radius * 2;
        background: $main_color;
        padding: 5px;
        margin: 5px;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
        width: 100%;

        @media (min-width: 420px) {
            width: 45%;
        }

        @media (min-width: 576px) {
            width: 30%;
        }

        @media (min-width: 992px) {
            padding: 10px;
            width: 25%;
        }

        @media (min-width: 1200px) {
            width: 20%;
        }

        &:hover {
            color: $active_color;
            background: $card_bg;
        }
    }
}
