$grey: #ccc;
$black: #000000;
$red: #ff0000;
$white: #ffffff;
$main_color: #DCDCDC;
$card_bg: #B1B1B1;
$modal_bg: #EDEDED;
$main_bg: $white;
$text_color: $black;
$active_color: #a14040;

$text_color_lite: #999999;
$form_field: #f2f2f2;
$base_radius: 20px;
$shadow: #d6d4d4;

$base_font: Arial, Helvetica, sans-serif;
$main_font: open_sans, $base_font;
