.login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    @media (min-width: 576px) {
        padding: 100px 0;
    }
}

.form {
    text-align: center;
    justify-content: center;

    &__fieldset {
        border-radius: $base_radius;
        padding-bottom: 20px;
    }

    &__title {
        padding: 10px;
        font-size: 30px;
    }

    &__item {
        padding: 10px;
    }

    &__input {
        border-radius: $base_radius;
        border: black 1px solid;
        font-size: 15px;
        padding: 10px;

        @media (min-width: 576px) {
            font-size: 30px;
        }
    }

    &__btn {
        @extend %btnCommon;
        margin-top: 15px;
        border-radius: ($base_radius * 2);
        background: $main_color;
        width: 30%;
        position: relative;

        @media (min-width: 576px) {
            padding: 20px;
        }

        &:hover {
            color: $active_color;
            background: $card_bg;
        }
    }
}